<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>
<body>
<p th:text="'Server time: ' + ${date}" />

<H2>POST</H2>
<form id="form-post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="number" name="number" placeholder="Enter your number">
    <input type="email" name="email" placeholder="Enter your email">
    <button type="submit">Submit</button>
</form>

<H2>GET</H2>
<form th:action="@{/user}" method="GET">
    <input type="text" name="name" placeholder="Enter your name">
    <input type="number" name="number" placeholder="Enter your number">
    <input type="email" name="email" placeholder="Enter your email">
    <button type="submit">Submit</button>
</form>

<H3>RESULT</H3>
<p th:text="${param.name}" />
<p th:text="${param.number}" />
<p th:text="${param.email}" />

<script th:src="@{/main.js}"></script>
</body>
</html>
